h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav{
  display: flex;
  justify-content: center;
}
nav a {
  padding: 9px 18px 9px 18px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border:3px solid #7b8391;
  border-radius: 20px;
  background: white;
  color:#6c727c;
  font-weight: 700;
  font-size: 14px;
  transition: all .3s ease;
}

nav a:hover{
  background: #7b8391;
  color:white;
}
