<div class="border_half_page" >
	<div id="content_left" class="text_center">
	<span>
		
		<span> <span [ngStyle]="{'color': myColor}">{{interes}}</span></span><br/>
		<input [(ngModel)]="interest.interest" id="new_interes" placeholder="Name interest" type="text" name="new_interes" />
		<input class="a" (click)="add_interes()"  id="add_interes_btn" type="submit" value="{{button_add_interes_text}}" /><br />
		<br /><br /><br />
		<div>
		{{input_color_string}}<br /><br />
		<input  [(ngModel)]="myColor" value="{{myColor}}" type="text"/><br />
		</div>
	</span>

	</div>
</div>