
<div id="content_left" class="text_center">
	<div id="form"><br>
		<br>
	
			 <input [(ngModel)]="search_name" id="nick" type="text" name="nick"  placeholder="Name" ><br>
		
			 <input [(ngModel)]="search_phone" id="phone" type="text" name="phone" placeholder="Phone"><br>
		
			 <input [(ngModel)]="search_age" id="age" type="text" placeholder="Age"  name="age"><br>
		
			<br>
			<select id="interes_list" name="interests" multiple="multiple">

			<!---
			<select [(ngModel)]="search_interests.name" id="interes_list" name="interests" multiple="multiple">
				<option *ngFor="let interes of interests" value="{{interes.id}}">{{interes.name}}</option>
			</select>
			-->
			<input [(ngModel)]="search_interests" type="text" />
			<input (click)="Search();" type="submit" id="btn_search" value="Search">
			<button onclick="reset_input();" id="btn_reset">RESET</button>
		<br>
		<span class="alert"></span>
		<div *ngFor="let user of search_result">
			<span>{{user.name}}</span>
		</div>
	</div>
</div>
<div id="content_right">
	<div class="clear" id="users"><br><br><br><br>
		<table>
			<tbody>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Interests</th>
                <th></th>
                <th></th>
			</tr>


			<tr *ngFor="let user of users_list | filter:search_name" class="five_cells" id="user_ul_{{user.id}}">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.age}}</td>
				<td>{{user.phone}}</td>
                <td>{{user.interests}}</td>
				<td><a (click)="dropUser(user.id)"><span class="icon-delete">&#10008;</span></a>&nbsp;</td>
                <td><a rel="nofollow noopener noreferer" target="_blank" [routerLink]="['/user_edit', user.id]"><span class="icon-edit">&#9998;</span> Edit</a></td>
			</tr>
			<!--<span *ngFor="let interes of user.interests"class="col-1-4">{{interes}}</span>-->
		</tbody>
		</table>

		 <div>
			 <nav class="navigation">
				 <a routerLink="/users_get/{{(this.users_page <= 1 ? 1 : this.users_page -1)}}" routerLinkActive="active" (click)="get_users(this.users_page - 1)" id="btn_prev_pages">&laquo;</a>
				 <a *ngFor="let page of pages" routerLink="/users_get/{{ page.id }}" id="btn_next_pages" routerLinkActive="active" (click)="get_users(page.id)">{{ page.id }}</a>
				 <a routerLink="/users_get/{{this.pages_count > this.users_page ? this.users_page + 1 : this.users_page}}" routerLinkActive="active" (click)="get_users(this.users_page + 1)">&raquo;</a>
			 </nav>
		 </div>
	</div>	 
</div>

