[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

#content_right{
  float: right;
  position: absolute;
  right: 200px;
}

#content_left{
  position: absolute;
  top:84px;
  left: 200px;
}



input{
  font-size: 20px;
  padding: 4px 35px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  font-style:italic;
  border: 3px solid  #7b8391;
}

#btn_reset{
    font-size: 20px;
    padding: 4px 35px;
    font-style:italic;
    border: 3px solid  #7b8391;
    border-radius: 20px;
    background: none;
    transition: all .3s ease;
}
#btn_reset:hover{
    background: #7b8391;
    color: white;
}

#btn_search{
    background: none;
    cursor: pointer;
    transition: all .3s ease;
}
#btn_search:hover{
    background: #7b8391;
    color: white;
}

#interes_list{
  border-radius: 3px;
    color: gray;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
}

table{
    box-shadow: 0px 0px 5px 2px #b5728b;
    border: none;
}

table th{border: none;}
table th{width: 97px;}
table tbody tr td{
    border: none;text-align: center;font-weight: 700;
    font-style: italic;
        font-size: 15px;
    color: #575366;
}


.navigation{margin-top: 10px;}
.navigation a{
    padding: 3px 13px;
    font-size: 22px;
    background: none;
    color: #4f5463;
    margin-right: 5px;
    transition: all .3s ease;
}
.navigation a:hover{
    background: #4f5463;
    color: white;
    
}




.icon-delete{font-size: 18px;color: #607D8B;}
.icon-edit{font-size: 18px;}
































@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
