<div class="border_half_page">
	<div id="content_left" class="text_center">
		<div id="form"><br />
			
			<span class="self_border"><h1>User Add</h1></span> 
			<span>
				<h2>Nick:</h2> <input id="nick" type="text" name="nick" minlength="3" maxlength="30"/>
			
				<h2>Phone:</h2> <input id="phone" type="text" name="phone"/>
			
				<h2>Age:</h2> <input id="age" type="number" min="6" max="666" name="age"/>
			</span>
			<br/>
			<span>
				<h2>Interests:</h2><br />
				<select id="interes_list" name="interests" multiple="multiple">
					<option *ngFor="let interes of interests" value="{{interes.id}}">{{interes.interes}}</option>
				</select>
			</span> <br />
			<a class="a" href="interes_add">Add interes</a><br>
			<span style="display:none">
				<input id="new_interes" type="text" name="new_interes" /> <input onclick="add_interes();" id="add_interes_btn" type="submit" value="Add interes!" /><br />
			</span>
			<span>
				<input class="a" onclick="add_user();" type="submit" value="Send!" />
			</span> <br />
			<span class="alert"></span>
		</div>
	</div>
</div>
