
<div id="content_left" class="text_center">
	<div id="form"><br>
		<br>
		<span class="self_border">User Search:</span> <br><br>
		<span>
			 <input id="nick" type="text" name="nick" minlength="3" placeholder="Name" maxlength="30"><br>
		</span>
		<span>
			 <input id="phone" type="text" name="phone" placeholder="Phone"><br>
		</span>
		<span>
			 <input id="age" type="number" min="6" max="666" name="age"><br>
		</span>
		<span>
			<br>
			<select id="interes_list" name="interests" multiple="multiple">
				<option *ngFor="let interes of interests" value="{{interes.id}}">{{interes.interes}}</option>
			</select>
		</span> <br>
		<span>
			<input target="_blank" type="button" value="Add" onclick="window.open('/user/add')">
			<!--<a target="_blank" href="/user/add">add</a> -->
			<input onclick="search_user();" type="submit" value="Search!">
			<button onclick="reset_input();">RESET</button>
		</span> <br>
		<span class="alert"></span>
	</div>
</div>
<div id="content_right">
	<div class="clear" id="users"><br><br><br><br>
		<table>
			<tbody>
			<tr>
				<th>Id:</th>
				<th>Nick:</th>
				<th>Age:</th>
				<th>Phone:</th>
				<th>Actions:</th>
			</tr>


			<tr *ngFor="let user of users" class="five_cells" id="user_ul_{{user.id}}">
				<td>{{user.id}}</td>
				<td>{{user.nick}}</td>
				<td>{{user.age}}</td>
				<td>{{user.phone}}</td>
				<td><a (click)="dropUser(user.id)">delete</a>&nbsp;<a rel="nofollow noopener noreferer" target="_blank" [routerLink]="['/user_edit', user.id]">update</a></td>
			</tr>
			<!--<span *ngFor="let interes of user.interests"class="col-1-4">{{interes}}</span>-->
		</tbody>
		</table>

		 <div>
			 <nav>
				 <a routerLink="/users_get/{{(this.users_page <= 0 ? 0 : this.users_page - 1)}}" routerLinkActive="active" (click)="get_users(this.users_page - 1)">Prev</a>
				 <a *ngFor="let page of pages" routerLink="/users_get/{{ page.id }}" routerLinkActive="active" (click)="get_users(page.id)">{{ page.id }}</a>
				 <a routerLink="/users_get/{{this.users_page + 1}}" routerLinkActive="active" (click)="get_users(this.users_page + 1)">Next</a>
			 </nav>
		 </div>
	</div>	 
</div>

