<div class="border_half_page">
	<div id="content_left" class="text_center">
		<div id="form"><br >
		    <form>
				<input [(ngModel)]="name" id="nick" placeholder="Name" type="text" name="name"  required/><br />
				<input  [(ngModel)]="age" id="age" type="text" placeholder="Age" name="age" /><br />
				<input [(ngModel)]="phone" id="phone" placeholder="Phone" type="text" name="phone"  /><br />
				
				<select [(ngModel)]="interes" type="number" id="interes_list" name="interests" multiple="multiple" >
					<option *ngFor="let interes of interests" value="{{interes.id}}">{{interes.name}}</option>
			    </select>
				<input type="button" id="btn_add_user" value="Add user" (click)="Add()" /><br>
			</form>
	
		
		</div>
	</div>
</div>
